<!-- <div id="bg"></div> -->

<form [formGroup]="loginForm">
    <div class="form-field">
        <input type="email" formControlName="email" placeholder="Email / Username" required />
    </div>

    <div class="form-field">
        <input type="password" formControlName="password" placeholder="Password" required />
    </div>

    <div class="form-field">
        <button class="btn" type="button" (click)="loginClick()">Log in</button>
        <button class="btn" type="button" (click)="register()">Register</button>
    </div>
</form>
<!-- <button class="btn" type="submit" (click)="loginClick()">Log in</button> -->