
<form>
    <div class="form-field">
        <input type="text" placeholder="First Name" required />
    </div>
    <div class="form-field">
        <input type="text" placeholder="Last Name" required />
    </div>
    <div class="form-field">
        <input type="text" placeholder="User Name" required />
    </div>
    <div class="form-field">
        <input type="email" placeholder="Email" required />
    </div>
    <div class="form-field">
        <input type="password" placeholder="Password" required />
    </div>

    <div class="form-field">
        <button class="btn" type="submit">Register</button>
    </div>
</form>