app-home {
    .user-align {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 3rem;
        margin-top: 1rem;
    }

    .pos-username {
        margin-right: 2rem;
        font-weight: bolder;
        font-size: 1.5rem;
        color: #6e52a4;
    }

    .logout {
        background: red;
        color: white;
        font-size: 25px;
        border-radius: 5px;
        padding: 7px 14px;
        text-align: center;
    }

    
}